@page "/"

<h1>Welcome to Blazor School!</h1>

Demonstrate how to use RouteView in Blazor Wasm - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.